# NI Packages
ds-general==4.4.101
ds-logging==3.0.14
ds-modeling==5.1.308
ds-common==2.0.1
ds-aws-services==2.5.132

contourpy==1.3.0
boto3==1.35.90
botocore==1.35.97
matplotlib==3.8.3
scipy==1.12.0
numpy==1.26.4
pandas==2.2.1
joblib==1.4.2
scikit-learn==1.5.0
s3fs==0.4.0
pyarrow==15.0.2
python-json-logger==3.3.0
requirements-parser==0.2.0
requests==2.31.0
python-dateutil==2.8.2
types-python-dateutil==2.9.0.20250516

#flake8==5.0.4
#deep-translator==1.11.4
#gensim==4.3.2
#boto3-stubs==1.21.13
#botocore-stubs==1.24.13
#types-requests==2.32.4.20250611
#scipy-stubs==1.16.0.0
#coverage==7.6.12

seaborn==0.13.2
pymysql==1.1.1
docutils==0.15.2
psycopg2-binary==2.9.10
catboost==1.2.3
sqlalchemy==1.3.11
py-linq==1.2.0
colorama==0.4.6
pydot==1.4.1
mock==3.0.5
black==24.10.0
deepchecks==0.19.1
tabulate==0.9.0
types-tabulate==0.9.0.20241207
Deprecated==1.2.18
types-Deprecated==1.2.15.20250304
moto==5.0.26
freezegun==1.1.0
networkx==2.5.1
mo-sql-parsing==11.658.24326
ml-infra==0.0.60
mypy==1.9.0
mypy-extensions==1.0.0